* {
  box-sizing: border-box;
}
html {
  /* fontsize 1rem default = 16px x 62.5% = 1rem*/
  font-size: 62.5%;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.5rem;
  font-family: Helvetica, Arial, sans-serif;
}

/* layout */

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

header {
  grid-area: header;
  background: #ff70a8;
}

main {
  grid-area: main;
  padding: 1rem;
}

footer {
  grid-area: footer;
  background: #ff70a8;
  color: white;
}
/* common */
h1 {
  font-size: 1.6rem;
}
h2 {
  font-size: 1.4rem;
}
a {
  text-decoration: none;
}
a:hover {
  color: white;
}
/* header */
header a {
  color: white;
  padding: 1rem;
}
a.brand {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

/* row */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center {
  justify-content: center;
}

/* Image */
img {
  border-radius: 0.5rem;
}

img.medium {
  max-width: 29rem;
  width: 100%;
}

/* card */
.card {
  border: 0.1rem solid rgb(180, 180, 180);
  background-color: rgb(245, 241, 241);
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem;
}

.card:hover {
  box-shadow: 1px 1px 10px grey;
}
.card-body {
  /* background-color: rgb(41, 39, 39); */
  padding: 1rem;
}

.card-body > * {
  margin-bottom: 2rem;
}

/* Ratting */

/* inside card-body */

.card-body .price,
.card-body h2 {
  color: #ff70a8;
}

.price {
  font-size: 1.6rem;
}

.rating span i {
  color: gold;
  font-size: 15px;
  margin: 0.05rem;
}
