body {
  box-sizing: border-box;
  margin: 0;
}
.container {
  margin: 0;
}

.header,
.menu,
.content,
.footer {
  padding: 25px;
}
.header {
  background-color: gray;
}
.wrapper {
  display: flex;
}
.menu {
  height: 55vh;
  display: flex;
  width: 20%;
  background: gold;
  align-items: center;
}
.content {
  display: flex;
  height: 55vh;
  width: 80%;
  background: lightblue;
  align-items: center;
}
.footer {
  background-color: gray;
}
